/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.island-moments-regular {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
  }
  /* <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 400 to 700
  */
  .expletus-sans {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media(max-width: 320px){
.homebackground{
    background-image: linear-gradient(to top,#F2DC66,rgb(218, 125, 91, 0.7));
    background-color: #F2DC66;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;
    color: rgb(218, 125, 91);
}
#footerheading{
    font-size: 40px;
}
.h2{
    font-size: 40px;
    color: #DA7D5B;
}
#getintouch{
    font-size: 40px;
    color: #593C5A;
}
.computer, .headphones{
    width: 250px;
}
.contactblock{
    min-width: 50%;
    max-width: 90%;
}
.contacttext{
    width: 100%;
    padding: 30px;
}
p{
    font-size: 17px;
    color: #593C5A;
}
.phone{
    display: none;
}
.box1{
    width: 100%;
}
.box2{
    width: 100%;
}
.contactcontent{
    max-width: 90%;
    margin: auto;
}
.maincontactblock{
    padding: 80px 0;
    position: relative;
}
#photoofme {
    min-width: 60%;
    max-width: 70%;
}
.skill p{
    text-align: center;
}
#getintouch{
    font-size: 35px;
    color: #593C5A;
}
.skillssection{
    height: 30%;
}
#tack{
    position: absolute;
    top: 40px; 
    left: 155px;
}
#tacksize{
    width: 110px;
}
}
@media(min-width: 321px){
h1{
    font-size: 55px;
    color: #593C5A;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;
    color: rgb(218, 125, 91);
}
#footerheading{
    font-size: 40px;
}
.h2{
    font-size: 40px;
    color: #DA7D5B;
}
#getintouch{
    font-size: 40px;
    color: #593C5A;
}
.computer, .headphones{
    width: 250px;
}
.contactblock{
    min-width: 50%;
    max-width: 90%;
}
.contacttext{
    width: 100%;
    padding: 30px;
}
p{
    font-size: 17px;
    color: #593C5A;
}
.phone{
    display: none;
}
.box1{
    width: 100%;
}
.box2{
    width: 100%;
}
.contactcontent{
    max-width: 90%;
    margin: auto;
}
.maincontactblock{
    padding: 80px 0;
    position: relative;
}
#photoofme {
    min-width: 60%;
    max-width: 70%;
}
.skill p{
    text-align: center;
}
#getintouch{
    font-size: 35px;
    color: #593C5A;
}
.skillssection{
    height: 30%;
}
#tack{
    position: absolute;
    top: 40px; 
    left: 155px;
}
.programguy{
    color: #593C5A;
}
#tacksize{
    width: 110px;
}
}
@media(min-width: 576px){
.headingtext{
    margin-left: 50px;
}
h1{
    font-size: 80px;
    color: #593C5A;
}
.programguy{
    color: #593C5A;
}
}
@media(min-width: 768px){
    .phone{
        display: inline;
        width: 200px;
    }
h3{
    padding-top: 10px;
    font-size: 25px;
}
.skillstext p{
    text-align: center;
}
.skillsheadingsection{
    height: 30%;
}
.box1{
    margin-bottom: 21%;
    width: 50%;
    height: 50%;
}
.box2{
    margin-top: 300px;   
    max-width: 50%;
    max-height: 30%;
}
#photoofme {
    max-width: 100%;
}
.webdesignside{
    max-width: 50%;
    min-width: 50%;
}
.masterinengineerside{
    max-width: 50%;
    min-width: 50%;
}
.maincontactblock{
    padding: 100px 0;
}
.contactblock{
    min-height: 300px;
    max-width: 600px;
}
.contacttext{
    height: 400px;
    padding: 0 55px;
}
.headingtext{
    margin-left: 50px;
}
.h2{
    font-size: 60px;
    color: #DA7D5B;
}
p{
    font-size: 18px;
}
h1{
    font-size: 130px;
    color: #593C5A;
}
.programguy{
    color: #593C5A;
}
#tack{
    position: absolute;
    top: 20px; 
    left: 320px;
}
#getintouch{
    font-size: 50px;
    color: #593C5A;
}
#tacksize{
    width: 180px;
}
}
@media(min-width: 992px) {
.h2{
    font-size: 65px;
    color: #DA7D5B;
}
.box2{
    margin-top: 22%;
    max-width: 40%;
    max-height: 30%;
}
#tack{
    position: absolute;
    top: 20px; 
    left: 440px;
}
a{
    font-size: 18px;
}
}
@media(min-width:1200px){
#tack{
    position: absolute;
    top: 20px; 
    left: 530px;
}
}
h1 h2{
    color: #593C5A;
}
.homebackground{
    background-image: linear-gradient(to top,#F2DC66,rgb(218, 125, 91, 0.7));
    background-color: #F2DC66;
}
.skillssection{
    background-color: #F1E2C3;
}
.hidden{
    transform: translatey(100px);
    opacity: 0;
    transition: all 3s;
}
.show{
    transform: translateX(0px);
    opacity: 1;
    transition: all 2s;
}
.footernav li{
    list-style:  none;
}
p{
    font-family: "Expletus Sans", sans-serif;
    line-height: 1.6em;
}
footer{
    background-color: rgb(146, 217, 183, 0.6);
    color: #593C5A;
 
}
.footer{
    background-color: rgb(146, 217, 183);
    padding: 30px;
}
#me{
    border: 2px solid red;
    width: 70%;
}
#aboutme{
    width: 50%;
}
.containerholdingcontactcontent{
    padding: 100px;
    border-radius: 15px;

    box-shadow: 10px 10px rgb(0, 0, 0, 0.3);
}
.wholecontactsection{
    position: relative;
}
.contactblock{
    box-shadow: 4px 5px rgb(0, 0, 0, 0.3);
    background-color: #92D9B7;
    border-radius: 10px;
}


button{
    padding: 10px;
    border-radius: 25px;
    border: none;
    color: #593C5A;
    box-shadow: 5px 4px rgb(0, 0, 0, 0.2);
    background-color: #F1E2C3 ;
}
button:hover{
    background-color:#DA7D5B ;
    color: white;
}

a {
    text-decoration: none;
    color: #593C5A;
}

a:hover{
    color:#DA7D5B;
}