/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.island-moments-regular {
    font-family: "Island Moments", cursive;
    font-weight: 600;
    font-style: normal;
  }
  /* <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 400 to 700
  */
  .expletus-sans {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

@media(max-width: 320px){
    .homebackground{
        background-image: linear-gradient(to top,#F2DC66,rgb(218, 125, 91, 0.7));
        background-color: #F2DC66;
    }
h1{
    font-size: 55px;
    color: #593C5A;
}
.h2{
    font-size: 45px;
    color: #DA7D5B;
}
#getintouch{
    font-size: 40px;
    color: #593C5A;
}
h3{
    font-size: 20px;
    color: #593C5A;
}
.computer, .headphones{
    width: 150px;
}
.skillstext p,.contactsection p{
    text-align: center;
}
p{
    font-size: 15px;
    color: #593C5A;
}


}

@media(min-width: 321px){
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 17px;
        color: rgb(218, 125, 91);
    }
    #footerheading{
        font-size: 40px;
    }
    .h2{
        font-size: 40px;
        color: #DA7D5B;
    }
    #getintouch{
        font-size: 40px;
        color: #593C5A;
    }
    .computer, .headphones{
        width: 170px;
    }
    .skillstext p,.contactsection p{
        text-align: center;
    }
    p{
        color: #593C5A;
    }
    .phone{
        display: none;
    }
.box1{
    width: 100%;
    height: 50%;
    }
.box2{
    width: 100%;
    height: 50%;
}
#photoofme {
    min-width: 60%;
    max-width: 70%;
}
}

@media(min-width: 600px){
    #photoofme {
        min-width: 40%;
        max-width: 50%;
    }

}

@media(min-width: 768px){
    .phone{
        display: inline;
    }

    .skillstext p{
        text-align: center;
    }

    .box1{
        margin-top: 5%;
        width: 50%;
        height: 50%;
        }
        .box2{
            margin-top: 20%;
        max-width: 50%;
        max-height: 30%;
        }
        #photoofme {
          max-width: 100%;
          
        }
}


h1 h2{
    color: #593C5A;
    

}
.homebackground{
  
    
    background-image: linear-gradient(to top,#F2DC66,rgb(218, 125, 91, 0.7));
    background-color: #F2DC66;
}


.skillssection{
    background-color: #F1E2C3;
  
}
.contactsection{
    background-color:#92D9B7;
}
.footernav li{
 list-style:  none;
}
p{
    font-family: "Expletus Sans", sans-serif;
}
footer{
    background-color: rgb(146, 217, 183, 0.6);
    color: #593C5A;
}
#me{
    border: 2px solid red;
    width: 70%;
}
#aboutme{
    width: 50%;
}
.aboutmesection{
    height: 100svh;
}
